<%- include('../partials/header') %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>
   
 <% carDocs.forEach(function(c){ %>

    <%console.log("link_---->",c.link)  %>

  <%=  //c.link %>
 <!--
  <img src="<%= c.link %>" alt="">
  -->
  <div class="polaroid">
    <img src="<%= c.link %>"  >
    <a href="/cars/<%=c._id  %>" style=" text-decoration: none;" class="showBtn">
    <div class="container">
    <p><%= c.title %></p>
    </div> </a>
  </div>

 <% }) %>

</body>
</html>