<%- include('../partials/header') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body>

<% if (user){ %>
   
 <% carDocs.forEach(function(c){ %>

    <%console.log("link_---->",c.link)  %>

  <%=  //c.link %>
 <!--
  <img src="<%= c.link %>" alt="">
  -->
  <div class="polaroid">
    <img src="<%= c.link %>"  >
    <a href="/cars/<%=c._id  %>" style=" text-decoration: none;" class="showBtn">
    <div class="container">
    <p><%= c.title %></p>
    </div> </a>
  </div>

 <% }) %>
 <% } else {     %>

  <h1 class="logintxt">RedLine </h1>
  <h3 class="logintxt">A Photo sharing app dedicated to the car community</h3>
<style>
  .logintxt{
    font-size: xx-large;
    color: rgb(22,23,23);
  }
body > main {

  background-image: url('https://i.imgur.com/8QN64j3.gif');
}
</style>

  <% } %>

</body>
</html>