<%- include('../partials/header') %>
<%- include('../partials/footer') %>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>car</title>
</head>
<body>
	<h1 class="cartitle"><%= car.title %></h1>
	<img class="show-post" src="<%= car.link %>"  >
	

 

	<form action="/cars/<%= car.id %>?_method=DELETE"
		class="delete-form" method="POST">
		<button type="submit">Delete Post</button>
	  </form>

	  <a href="/cars/<%= car._id %>/edit">edit post</a>
 <% if (user && user._id.equals(car.user)) { %>
    <% } %>



	  <br><br>
<h2>Reviews</h2>

    <!-- user comes from res.locals.user = req.user in the server.js file!!!!!!! -->
    <!-- user will be the mongodb document if logged in
    if not the user will be undefined meaning they are not logged in -->
<% if (user) { %>

  <form id="add-review-form" method="POST" action="/cars/<%= car._id %>/comments">
    <label>Review:</label>
    <textarea name="content"></textarea>
    <label>Rating:</label>
    <select name="rating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="submit" value="Add Review">
  </form>
 
<% } else { %>
  <h3>Please login to submit a review!</h3>
<% } %>


<% if (car.comments.length) { %>
 

    
   
      <% let total = 0 %>
      <% car.comments.forEach(function(r) { %>
        <% total += r.rating %>
        <tr>
         
          
            <% if (user && user._id.equals(r.user)) { %>
              <form action="/reviews/<%= r._id %>?_method=DELETE" method="POST">
                <button type="Submit">X</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="2"></td>
        <td><strong><%= (total / car.comments.length).toFixed(1) %></strong></td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>

	
</body>
</html>