<%- include('../partials/header') %>
<%- include('../partials/footer') %>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>car</title>
</head>
<body>
	<h1 class="cartitle"><%= car.title %></h1>
	<img class="show-post" src="<%= car.link %>"  >
	


	<form action="/cars/<%= car.id %>?_method=DELETE"
		class="delete-form" method="POST">
		<button type="submit">Delete Post</button>
	  </form>

	  <a href="/cars/<%= car._id %>/edit">edit post</a>


  

	  <br><br>
<h2>Reviews</h2>

    <!-- user comes from res.locals.user = req.user in the server.js file!!!!!!! -->
    <!-- user will be the mongodb document if logged in
    if not the user will be undefined meaning they are not logged in -->
<% if (user) { %>
 
  
  <form id="add-review-form" method="POST" action="/cars/<%= car._id %>/comments">
    <label>Comments:</label><br>
    <textarea name="content"></textarea>
   
    <input type="submit" value="comment">
  </form>
 
<% } else { %>
  <h3>Please login to submit a review!</h3>
<% } %>


<% if (car.comments.length) { %>
  <table>
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
        <th>Review</th>
        
      </tr>
    </thead>
    <tbody>
      <% let total = 0 %>
      <% car.comments.forEach(function(comment) { %>
       
        <tr>
          <!-- // referrerpolicy we neecd to add this so google lets us use the avatar image -->
          <td class="review-user"><img alt="avatar" src="<%= comment.userAvatar %>" referrerpolicy="no-referrer" ><%= comment.userName %></td>
          <td><%= comment.createdAt.toLocaleDateString('en-GB', { timeZone: 'UTC' }) %></td>
          <td><%= comment.content %></td>
         
          <td>
            <!-- first checking to see if the user exist (if user)
            then check to see if user._id is equal to reviews user id (r.user) -->
            <% if (user && user._id.equals(comment.user)) { %>
              <form action="/comments/<%= comment._id %>?_method=DELETE" method="POST">
                <button type="Submit">X</button>
              </form>
            <% } %>
          </td>
        </tr>
      <% }); %>
      <tr>
        <td colspan="2"></td>
        <td><strong><%= (total / car.comments.length).toFixed(1) %></strong></td>
      </tr>
    </tbody>
  </table>
<% } else { %>
  <h5>No Reviews Yet</h5>
<% } %>
</body>
</html>